body {
  background-image: url("background.jpg");
  background-size: cover;
  background-color:rgba(255,255,255,0.7);
  background-blend-mode:lighten;
}

#container {
  width: 810px;
  height: 650px;
  margin: 0px auto;
}

#buttons {
  list-style: none;
  text-align: center;
}

#btnReset {
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  display: none;
}

#words {
  width: 200px;
  height: 575px;
  border: 1px solid black;
  font-size: 25px;
  text-align: center;
  float: left;
  color: darkolivegreen;
  display: none;
}

#grid {
  height: 575px;
  width: 585px;
  float: right;
  display: none;
}

.ui-dialog-titlebar-close {
  visibility: hidden;
}

.letter {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  float: left;
  text-align: center;
  font-size: 25px;
  margin: 3px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px gray;
}

.correct::after {
  content: "\2713";
}

.ui-selectable-helper {
  background: darkseagreen;
  border-radius: 10px;
}

#end {
  color: red;
  font-size: 60px;
  text-align: center;
  line-height: 650px;
  font-weight: bold;
}

#btnReset:focus {
  outline: none;
}